<label *ngIf="!workingGroup">Loading</label>
<div *ngIf="workingGroup">
  <a class="nav-link text-dark" [routerLink]="['/manage-group']">
    Manage group
  </a>
  <h3><b>{{workingGroup.name}}</b></h3>
  <button (click)="toggleNewScheduleForm()" *ngIf="!isNewScheduleFormVisible">Create new schedule</button>
  <button (click)="toggleNewScheduleForm()" *ngIf="isNewScheduleFormVisible">Create new schedule [hide]</button>
  <div *ngIf="isNewScheduleFormVisible">
    <owl-date-time-inline [pickerType]="'calendar'" [(ngModel)]="newScheduleDates" [selectMode]="'range'"></owl-date-time-inline>
    <button (click)="createNewSchedule()">Submit</button>
  </div>
  <h5>Group's schedules:</h5>
  <div *ngFor="let schedule of workingGroup.workingGroupSchedules">
    <app-working-group-schedule [workingGroupSchedule]="schedule"></app-working-group-schedule>
  </div>
</div>
