<label *ngIf="!workingGroup">Loading</label>
<div *ngIf="workingGroup">
  <h3><b>{{workingGroup.name}}</b></h3>
  <mat-tab-group>
    <mat-tab label="Schedules">

      <h5>Group's schedules:</h5>
      <div *ngFor="let schedule of workingGroup.workingGroupSchedules">
        <app-working-group-schedule [workingGroupSchedule]="schedule"></app-working-group-schedule>
      </div>
    </mat-tab>
    <mat-tab label="Users">
      <app-groups-user-list [workingGroup]="workingGroup"></app-groups-user-list>
    </mat-tab>
    <mat-tab label="Manage">
      <app-manage-group [workingGroup]="workingGroup"></app-manage-group>
    </mat-tab>
  </mat-tab-group>

</div>
