<head>
  <meta charset="utf-8" />
  <title>Create user account</title>
</head>
<body>
  <form class="form">
    <mat-form-field class="field-full-width">
      <input matInput placeholder="First name" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Last name" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Position</mat-label>
      <select matNativeControl [(ngModel)]="selectedPositionId" required>
        <option *ngFor="let position of positions" value="{{position.id}}">{{position.name}}</option>
      </select>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Password" required>
      <mat-hint>Temporary password</mat-hint>
    </mat-form-field>
  </form>

  <input type="button" value="Create" (click)="onClick()" />
</body>
