<head>
  <meta charset="utf-8" />
  <title>Create user account</title>
</head>
<body>
  <form class="form">
    <mat-form-field class="field-full-width">
      <input matInput placeholder="First name" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Last name" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Position</mat-label>
      <select matNativeControl [(ngModel)]="selectedPositionId" [ngModelOptions]="{standalone: true}" required>
        <option *ngFor="let position of positions" value="{{position.id}}">{{position.name}}</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>User role</mat-label>
      <select matNativeControl [(ngModel)]="selectedUserRole" [ngModelOptions]="{standalone: true}" required>
        <option value="{{'User'}}">{{'Regular user'}}</option>
        <option value="{{'GroupAdmin'}}">{{'Group administrator'}}</option>
      </select>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input type="number" matInput placeholder="Wage" [(ngModel)]="wage" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input type="password" matInput placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
      <mat-hint>Temporary password</mat-hint>
    </mat-form-field>
  </form>

  <button mat-stroked-button (click)="createUser()">Create</button>
</body>
