<mat-grid-list cols="4" rowHeight="600px">
  <mat-grid-tile [colspan]="1">
    <mat-button-toggle-group style="min-width: 200px;" name="" aria-label="Font Style" #group="matButtonToggleGroup" vertical>
      <mat-button-toggle value="createUser">Create user</mat-button-toggle>
      <mat-button-toggle value="workEntries">Work entries</mat-button-toggle>
      <mat-button-toggle value="managePositions">Positions</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <app-create-user-account *ngIf="group.value == 'createUser'" [workingGroup]="workingGroup"></app-create-user-account>
    <div *ngIf="group.value == 'managePositions'">
      <app-manage-positions [workingGroup]="workingGroup"></app-manage-positions>
    </div>
    <div *ngIf="group.value == 'workEntries'">
      Work entries
    </div>
  </mat-grid-tile>
</mat-grid-list>
