<mat-grid-list *ngIf="workingGroup" cols="4" rowHeight="600px">
  <mat-grid-tile [colspan]="1">
    <mat-button-toggle-group style="min-width: 200px;" name="" aria-label="Font Style" #group="matButtonToggleGroup" vertical>
      <mat-button-toggle value="createUser">Create user</mat-button-toggle>
      <mat-button-toggle value="workingSchedules">Schedules</mat-button-toggle>
      <mat-button-toggle value="managePositions">Positions</mat-button-toggle>
      <mat-button-toggle value="groupBalance">Group balance</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <app-create-user-account *ngIf="group.value == 'createUser'" [workingGroup]="workingGroup"></app-create-user-account>
    <div *ngIf="group.value == 'managePositions'">
      <app-manage-positions [workingGroup]="workingGroup"></app-manage-positions>
    </div>
    <div *ngIf="group.value == 'workingSchedules'">
      <app-manage-working-schedules [workingGroup]="workingGroup"></app-manage-working-schedules>
    </div>
    <div *ngIf="group.value == 'groupBalance'">
      <app-group-balance [workingGroup]="workingGroup"></app-group-balance>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div *ngIf="!workingGroup">Loading...</div>
