<head>
  <meta charset="utf-8" />
  <title>Create user account</title>
</head>
<body>
  <form class="form">

    <mat-form-field class="field-full-width">
      <input type="password" matInput placeholder="Old password" [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input type="password" matInput placeholder="New password" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input type="password" matInput placeholder="Repeat new password" [(ngModel)]="repeatNewPassword" [ngModelOptions]="{standalone: true}" required>
      <mat-error *ngIf="showError">
        Repeated password is not equal to password
      </mat-error>
    </mat-form-field>
  </form>

  <button mat-stroked-button (click)="changePassword()">Done</button>
</body>
