<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      New availability
    </mat-panel-title>
  </mat-expansion-panel-header>
  <owl-date-time-inline [pickerType]="'calendar'" [(ngModel)]="newDayDate" #dt1></owl-date-time-inline>
  <div>
    <label>Start hour</label>
    <owl-date-time-inline [pickerType]="'timer'" [(ngModel)]="newDayStartTime" #dt2></owl-date-time-inline>
  </div>
  <div>
    <label>End hour</label>
    <owl-date-time-inline [pickerType]="'timer'" [(ngModel)]="newDayEndTime" #dt3></owl-date-time-inline>
  </div>
  <button mat-raised-button (click)="postNewAvailability()">Add new availability</button>
</mat-expansion-panel>

<br />
<h4><b>Your availability</b></h4>
<app-user-availability [availability]='availability' *ngFor="let availability of workingAvailabilities"></app-user-availability>
