<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
</head>
<body>
  <form class="form" id="registerForm" style="max-width: 800px">
    <mat-form-field class="field-full-width">
      <input matInput type="text" placeholder="E-mail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput type="text" placeholder="First name" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput type="text" placeholder="Last name" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput type="text" placeholder="Working group name" [(ngModel)]="workingGroupName" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <br />
    <button mat-raised-button type="button" (click)="onClick()" >Register</button>
  </form>
</body>
</html>
