<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <p>{{workingGroupSchedule.start | date: "dd.MM.yyyy"}} - {{workingGroupSchedule.end | date: "dd.MM.yyyy"}}</p>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-list>
    <div *ngFor="let group of workEntriesGrouped" style="width: 500px;" class="border-bottom-grey">
      <h3 mat-subheader>{{group.date}}</h3>
      <div *ngFor="let workEntry of group.value" style="width: 500px;">
        {{workEntry.start | date: "HH:mm"}} - {{workEntry.end | date: "HH:mm"}} | {{workEntry.position.name}} |
        <ng-container *ngIf="workEntry.user">{{workEntry.user.firstName + " " + workEntry.user.lastName + " (" + workEntry.user.email + ")"}}</ng-container>
        <ng-container *ngIf="!workEntry.user"><i>No assignee</i></ng-container>
      </div>
    </div>
  </mat-list>
</mat-expansion-panel>
