/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form {
  min-width: 150px;
  width: 100%;
}

.field-full-width {
  width: 80%;
}

/*.mat-tab-labels {
  flex-direction: column;
}

.mat-tab-group {
  flex-direction: row;
}*/
